.cmr-5{font-size:50%;}
.cmr-7{font-size:70%;}
.cmmi-5{font-size:50%;font-style: italic;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-5{font-size:50%;}
.cmsy-7{font-size:70%;}
.cmbx-10{ font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-7{font-size:70%;font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-5{font-size:50%;font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmex-7{font-size:70%;}
.cmex-7x-x-71{font-size:49%;}
.msam-7{font-size:70%;}
.msam-5{font-size:50%;}
.msbm-7{font-size:70%;}
.msbm-5{font-size:50%;}
.cmr-17{font-size:170%;}
.cmr-12{font-size:120%;}
.cmti-10{ font-style: italic;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
math { text-indent: 0em; }
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; }
div.math-display, div.par-math-display{text-align:center;}
mtr.hline mtd{ border-bottom:black solid 1px; padding-top:2px; padding-bottom:0em; }
mtr.hline mtd mo{ display:none }
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mstyle[mathvariant="bold"] { font-weight: bold; font-style: normal; }
 math mstyle[mathvariant="normal"] { font-weight: normal; font-style: normal; }
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.equation-star td{text-align:center; vertical-align:middle; }
table.equation-star { width:100%; border-bottom-color: rgb(255,255,255); }
#content table.equation-star, #content table.equation-star tbody tr td { border: 0px none rgb(255,255,255); }
mtd.align-odd{margin-left:2em; text-align:right;}
mtd.align-even{margin-right:2em; text-align:left;}
.boxed{border: 1px solid black; padding-left:2px; padding-right:2px;}
.rotatebox{display: inline-block;}
.item-head{float:left;width:2em;clear:left;}
.item-content{margin-left:2em;}
 .foreignobject {line-height:100%; font-size:120%; font-family:STIXgeneral,Times,Symbol,cmr10,CMSY10,CMEX10;padding:0; margin:0; text-align:center; }
math {vertical-align:baseline; line-height:100%; font-size:100%; font-family:STIXGeneral,Times,Symbol, cmr10,cmsy10,cmex10,cmmi10; font-style: normal; margin:0; padding:0; }

.entry-title{display: none}

div.newtheorem { margin-bottom: 2em; margin-top: 2em; border: 1px solid #333; background: #c7e4da; border-color: #4eb79e;}
div.newtheorem h3 { background: #4eb79e; color: white; padding: 0px 15px 0px 15px; margin-top: 12px}
div.newtheorem p { padding: 15px 15px 15px 15px; }

div.newtheorem p span.head .ecbx-1095{font-weight: bold}
div.newtheorem p .ecti-1095{font-style: italic}
div.newtheorem div.custom-itemize{font-style: italic}
div.quote{font-style: italic}
div.newtheorem dl, dl.enumerate {display: grid; grid-template-columns: 5% auto; align-items: start; margin-top: 1em}
div.newtheorem dl dd, dl.enumerate dd {margin-bottom: 0.5em}
div.newtheorem dl dt, dl.enumerate dt {font-weight: normal; margin-top: 0px; text-align: right; margin-right: 15%}
div.newtheorem dl dd {font-style: italic}
div.newtheorem dl dt {font-style: italic}
div.proof p span.ecti-1095 {font-style: italic}
div.figure p img { margin-left: auto; margin-right: auto; display: block; }
div.mefigcentered, div.figure { text-align: center }

dl:after {content:"";display:table;clear:both;}
dd {padding:.5em 0;}
dl {width:100%;}
dt, dd {display:inline-block; width:125%;}
dt {text-align:right; font-weight:bold; clear:left; float:left;}
dd {width:100%; padding-left:1em; padding-top: 0px; clear:right;}
dd + dd {float:right; clear:both;}
dd + dt {clear:both;}
dt + dt {width: 100%; float: none; padding: 0 70% 0 0;}
dt + dt + dd {margin-top: -2em;}
dt + dt + dd + dt {margin-top: 2em;}


/* CSS Analysis-Skript D-Math ETHZ */

/* Uniform Font, also for headers */
h3 {
	font-family: "Times New Roman", serif;
	margin-bottom: 35px;
}
h4 {
	font-family: "Times New Roman", serif;
}
h5 {
	font-family: "Times New Roman", serif;
}

/* Bold font, e.g. for definitions */
.ecbx-1095 {font-weight: 550 ;}


/* Uniform spacing, indent: larger, noindent, enumerate, itemize */
p.indent {
	margin: 25px 0px 0px 0px;
	text-indent: 0px;
}
p.noindent {
	margin: 15px 0px 0px 0px;
	text-indent: 0px;
}
dl.enumerate {
	margin: 0px 0px 0px 0px;
}
dl.enumerate dt, dl.enumerate dd {
	margin-top: 15px;
	margin-bottom: 0px;
}
div.custom-itemize {
	margin: 0px 0px 0px 0px;
}
div.custom-itemize div.item-head {
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: center;
}
div.custom-itemize div.item-head:first-of-type {
	margin-top: 0px;
}
div.custom-itemize div.item-content {
	margin-top: 15px;
	margin-bottom: 0px;
}
.MJXc-display {
	margin: 15px 0px 0px 0px;
}



/* green metheorem/melemma CSS class for more/medium important latex-theorem-environments */
/* metheorem box+header */
div.metheorem {
    margin-bottom: 40px;
    margin-top: 40px;
	padding: 0px 15px 15px 15px;
    border: 1px solid #333;
    border-color: #4eb79e;
    background: #c7e4da;
}
div.metheorem h4 {
    background: #4eb79e;
    color: white;
	margin-top: 12px;
	margin-left: -15px;
	margin-right: -15px;
	padding: 0px 15px 0px 15px;
}
/* melemma box+header */
div.melemma {
    margin-bottom: 40px;
    margin-top: 40px;
	padding: 0px 15px 15px 15px;
    border: 1px solid #333;
    border-color: #4eb79e;
    background: #F2F2F2;
}
div.melemma h4 {
    background: #4eb79e;
    color: white;
	margin-top: 12px;
	margin-left: -15px;
	margin-right: -15px;
	padding: 0px 15px 0px 15px;
}
/* meexample box+header */
div.meexample {
    margin-bottom: 30px;
    margin-top: 30px;
	padding: 0px 15px 15px 15px;
	border-color: gainsboro;
	border-style: solid;
	border-width: thin;
}
div.meexample h4 {
	font-size: inherit;
	font-weight: bold;
    padding: 15px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}
div.meexample h4+p.noindent, div.meexample h4+p.indent {
	margin-top: 5px;
	text-indent: 0px;
}
/* padding and margins for stuff inside these boxes, CSS-selector > doesn't work in WP */
div.me details {
	margin: 10px 0px 0px 0px;
}

/* fixing background of pictures */
img {
	background: white;
}

/* div-container for centered geoapplet */
div.geoapplet {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	max-width: 100%;
}
div.geoapplet iframe {
	border-style: none;
	max-height: 110vw;
}

/* div-container for centered squeezed tables */
div.websqueeze {
	margin-left: auto;
	margin-right: auto;
}

/* two containers for squeezing text sizes */
div.mesmalltext, div.mesmalltext * {
	font-size: 15px;
}
span.metinytext, span.metinytext * {
	font-size: 12px;
}


/* removing grid lines in equations */
#content table.equation tr td, #content table.equation tr th {
    border: none;
}
#content table.equation {
    border: none;
}

/* hover/click-solution for short inline explanations and footnotes */
.hover-text {    /* hidden part */
    display: none;
}
.marginpar {     /* style for footnote as marginpar */
	text-decoration: none;
	border: solid;
	border-width: 1pt;
	padding: 3pt;
	width: 30%;
	background: white;
}
.hover-trigger { /* style for hover/click-trigger text/symbol */
	background: none;
	border: none;
	padding: 0;
	outline: inherit;
	text-transform: none;
	font: inherit;
	position: inherit;
	vertical-align: baseline;
    color: #FF7F00;
	cursor: help;
}
.hover-trigger:hover +.hover-text{
    display: inline;
}
.hover-trigger:active +.hover-text{
    display: inline;
}

/* simplifying style of details/summary, removing triangle */
details summary {
  background: none;
  list-style: none;
  outline: none;
  cursor: pointer;
}
details summary::-webkit-details-marker {
  display: inline;
  display: none;
}

/* MC-True/False as inline details/summary */
details.mcquest, div.me details.mcquest {
	display: inline;
	margin-top: 0px;
}
summary.mcquest {
	display: inline;
	color: #FF7F00;
	cursor: help;
}

/* proof style: simple black box with gray background
                little black square at the end on the right */
div.proof {
	border-color: black;
	border-style: solid;
	border-width: thin;
	background-color: #F2F2F2;
	padding: 15px;
	margin-top: 1em;
}
div.proof p:first-of-type {
	margin: 0px;
}
div.qed {
	margin-top: -25px;
	margin-bottom: -7px;
	text-align: right;
}
table.equation+div.qed {
	margin-top: -65px;
}

/* The following is making also math-formulas inside the headers of Lemmas, etc., white. */
div.melemma h4 span {
    color: white;
}
div.metheorem h4 span {
    color: white;
}

/* The following are used to avoid fullstop, period, colon, semicolon, and endquote (broader) to move by itself to the next line after a formula.
   The math-environment before needs to be wrapped in span.maperiod and the fullstop etc. in a span.period --- together they achieve what we want.  */
span.maperiod {
       margin-right: 5px;
}
span.period {
       display: inline-block;
       width: 0px;
       margin-left: -5px;
       margin-right: 4.9px;
	   text-indent: 0px;
}
span.maendquote {
       margin-right: 8px;
}
span.endquote {
       display: inline-block;
       width: 0px;
       margin-left: -8px;
       margin-right: 7.9px;
}


/* The following is removing an extra space left of the equation side in aligned equations */
span.mjx-mtd {
    padding-left: 0em !important;
}

/* The following fixes the weird problem that math appears smaller if it was rendered while the details tag was closed. */
details span.mjx-chtml, details span.MathJax_CHTML {
 font-size: 100% !important;
}
